footer(class="sticky-footer").bg-light-grey.border-top.pt-3.pb-3
    .row
        .col-1(style="padding-left: 34px;")
            a.bg-red(style='height: 40px; width: 40px;' href='https://ark.io').d-flex.align-items-center
                img(src='/images/ark-logo.png' style='height: 20px; width: 25px;').d-block.m-auto
        .col-11(style="padding-left: 24px;")
            secondary-text(style='line-height: 40px; font-size: 14px;') ArkPromo is an Ark community project created by emsy