.col-12.p-0.m-0
    .col-12.pt-3.pb-3.mx-auto.text-center.bg-light-grey.border-bottom.d-inline-block
        .col-10.float-right
            .col-10
                include ./title
        .col-2.float-left
            a.btn.btn.btn-primary.float-left(href="/") Home