extends layout

block content
    include header
    .col-7.container.text-center.pt-3
        a.btn.btn-lg.btn-primary.float-left(href="/customer") Customer
        a.btn.btn-lg.btn-primary(href="/retailer") Retailer
        a.btn.btn-lg.btn-primary.float-right(href="/cashier") Cashier