extends ../layout

block content
    include ../header-with-back-button
    .col-7.container.text-center.pt-3
        a.btn.btn-lg.btn-primary.float-left(href="/retailer/offers") Remove offer
        a.btn.btn-lg.btn-primary.float-right(href="/retailer/offer/add") Add new offer